body {
	font-family: 'Raleway', sans-serif;
	color: #255d65;
	text-align: center;
	line-height: 1.6em;
	font-size: 1.3em;
}

h1{
	font-size: 15em;
	font-weight: bolder;
	color: #b54b35;
}

h2{
	font-size: 3em;
	color: #f7c86a;

}

.day1{
	font-weight: bolder;
	font-size: 1.2em;
	color:#b54b35;
}

.part {
	color: #e6cc92;
	font-size: 1.4em;
	font-weight: bold;
}

.chorus{
	color: #f7c86a
}

img.resize{
	max-width: 33%;
	max-height: 33%;
}

#bgimage {
	background-image: url("images/honne1.jpg");
 	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%

}
