body{
	font-family: 'Ubuntu', sans-serif;
	font-size:17px;
	margin-left: 100px;
	margin-top: 100px;
	line-height: 15px;
	margin-bottom: 100px;
	background-color: #FFF8D3;
}

h1{
	font-size: 80px;
}

h2{
	font-size: 19px;
	line-height: 30px;
	margin-left: 20px;
	font-weight: 500;
}

.subhead{
	font-size: 20px;
	color: #56A5A8
}

#weight{
	font-size: 30px;
	margin-top: 15px;
	color: #928DD3

}

#bold{
	font-weight: 700;
}

#fontstyle{
	font-size: 30px;
	margin-top: 15px;
	color: #928DD3
}

#italic{
	font-style: italic;
}

#spacing{
	font-size:30px;
	margin-top: 15px;
	color: #928DD3
}

#spaced{
	letter-spacing: 5px;
}

#decoration{
	font-size: 30px;
	margin-top: 15px;
	color: #928DD3
}

#strikethrough{
	text-decoration: line-through;
}

#underlined{
	text-decoration: underline;
}

#transform{
	font-size: 30px;
	margin-top: 15px;
	color: #928DD3
}

#uppercase{
	text-transform: uppercase;
}

#capitalize{
	text-transform: capitalize;
}